################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/test/FileContentIndex
/ASPNET_EntityFramework/.vs/ASPNET_EntityFramework/FileContentIndex
